<div id="loading" style="display:none;"></div>
{% if settings.loading_enable %}
    <div id="loadingSite">
        <div class="loader"></div>
    </div>
{% endif %}
<div id="newsletterAlert" class="modal fade" style="display:none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
          	<div class="alert alert-success">
          		<div class="newsletterAlert">{{ 'general.newsletter_form.alertsuccess' | t }}</div>
          	</div>
		</div>
	</div>
</div>
{% if settings.quickview_enable %}
	{% assign count_images = product.images | size %}
	{% assign column_center = 'col-sm-12 col-md-12' %}
	<div id="velaQuickView" style="display:none;">
	    <div class="quickviewOverlay"></div>
	    <div class="jsQuickview"></div>
	    <div id="quickviewModal" class="quickviewProduct" style="display:none;">
	    	<a title="Close" class="quickviewClose" href="javascript:void(0);"></a>
	        <div class="proBoxPrimary row">
	            <div class="proBoxImage col-xs-12 col-sm-12 col-md-5">
	                <div class="proFeaturedImage">
	                    <a class="proImage" title="" href="#">
                        	<img class="img-responsive proImageQuickview" src="{{ 'loading.gif' | asset_url }}" alt="Quickview"  />
                        	<span class="loadingImage"></span>
                        </a>
	                </div>
	                <div class="proThumbnails proThumbnailsQuickview clearfix">
	                    <div class="owl-thumblist">
                            <div class="owl-carousel">

                            </div>
                        </div>
	                </div>
	            </div>
	            <div class="proBoxInfo col-xs-12 col-sm-12 col-md-7">
	                <h3 class="quickviewName">&nbsp;</h3>
	                <div class="quickviewAvailability{% if settings.product_available_enable == false %} hidden{% endif %}"></div>
	                <h5 class="quickViewVendor {% if settings.product_vendor_enable == false %} hidden{% endif %}"></h5>
	                <h5 class="quickViewType {% if settings.product_type_enable == false %} hidden{% endif %}"></h5>
	                <div class="proShortDescription rte"></div>
	                <form action="/cart/add" method="post" enctype="multipart/form-data" class="formQuickview form-ajaxtocart">
                        <div class="proPrice clearfix">
                            <span class="priceProduct pricePrimary"></span>
                            <span class="priceProduct priceCompare"></span>
                        </div>
                        <div class="proVariantsQuickview"><select name='id' style="display:none"></select></div>
                        <div class="proQuantity">
                            <label for="Quantity" class="qtySelector">{{ 'products.product.quantity' | t }}</label>
                            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qtySelector">
                        </div>
                        <div class="proButton">
                            <button type="submit" name="add" class="btn btnAddToCart">
                                <span>{{ 'products.product.add_to_cart' | t }}</span>
                            </button>
                        </div>
                    </form>
	            </div>
	        </div>
	    </div>    
	</div>
{% endif %}
{% if settings.gotop_enable %}
	<div id="goToTop" class="hidden-xs hidden-sm"><span class="fa fa-long-arrow-up"></span></div>
{% endif %}
{% if settings.vela_panelconfig %}
	{%- assign blogName = settings.vela_panelconfig_blog -%}
	{%- assign contactName = settings.vela_panelconfig_contact -%}
	{%- assign aboutName = settings.vela_panelconfig_about -%}
	{% for product in collections.all.products %}
		{%- assign productSingle = product -%}
		{% break %}
	{% endfor %}
    <div id="velaConfigSection" class="menuSectionConfig">
      	<div class="menuSsWrap">
          	<div class="btnConfigSection"><i class="fa fa-cog fa-spin"></i></div>
          	<h2 class="menuSsHeading">Vela menu Section<span class="closeMenu"></span></h2>
            <div class="menuSsContent">
                <ul class="menuListPage list-unstyled">
                    <li class="menuItem">
                        <a href="/">Home Page (Index)</a>
                    </li>
                    <li class="menuItem">
                        <a href="/collections/all">Collection Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="{{ productSingle.url }}">Product Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="/cart">Cart Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="{{ blogs[blogName].url }}">Blog Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="{{ pages[contactName].url }}">Contact Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="{{ pages[aboutName].url }}">About Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="/404page">404 Page</a>
                    </li>
                    <li class="menuItem">
                        <a href="/password">Password Page</a>
                    </li>
                </ul>
            </div>
      	</div>
    </div>
{% endif %}