<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon != blank %}
      	<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
  	<title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>
  	{% if page_description %}
    	<meta name="description" content="{{ page_description | escape }}">
  	{% endif %}
  	{% include 'social-meta-tags' %}
  	{{ 'vela-fonts.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'vela-password.scss.css' | asset_url | stylesheet_tag }}
  	<!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->
  	{{ 'jquery.2.2.3.js' | asset_url | script_tag }}
  	{{ 'jquery.bootstrap.js' | asset_url | script_tag }}
  	{{ 'jquery.password.js' | asset_url | script_tag }}
  	{{ content_for_header }}
</head>
<body class="template-password">
    <section class="passwordPage text-center">
        <header class="passwordHeader">
            <div class="passwordHeaderWrap">
                <div class="passwordBtnLogin">
                  	<button type="button" class="btn" data-toggle="modal" data-target="#LoginModal">
                    	{{ 'general.password_page.password_link' | t }}
                 	</button>
                </div>
            </div>
        </header>
        <div class="passwordMain text-center" role="main">
          	<div class="passwordMainWrap">
            	{{ content_for_layout }}
          	</div>
        </div>
    </section>
    <div id="LoginModal" class="modal fade">
      	<div class="modal-dialog">
      		<div class="modal-content">
              	<div class="modal-body">
                  	<div class="modalLogin text-center">
                        <div class="passwordHeading">{{ 'general.password_page.login_form_heading' | t }}</div>
                      	{% form 'storefront_password' %}
                      		{{ form.errors | default_errors }}
                      		<div class="form-inline">
                                <div class="form-group">
                                    <label for="password" class="hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
                                    <input type="password" name="password" id="Password" class="form-control" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                                </div>
                              	<button type="submit" class="btn btn-primary">{{ 'general.password_page.login_form_submit' | t }}</button>
                      		</div>
                      	{% endform %}
                        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
                    </div>
              	</div>
          	</div>
      	</div>
    </div>
</body>
</html>
