{% if section.settings.logo %}
    <a href="/" class="passwordLogoImage">
        {% capture image_size %}{{ section.settings.logo_image_size }}{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 1 }} 2x"
            alt="{{ section.settings.logo.alt | default: shop.name }}">
    </a>
{% else %}
    <h1 class="passwordLogoText" href="/">
        <span class="logo">{{ shop.name }}</span>
    </h1>
{% endif %}
<h2 class="passwordTitle">{{ section.settings.header }}</h2>
{% unless shop.password_message == blank %}
    <div class="passwordMessage">
        {{ shop.password_message }}
    </div>
{% endunless %}
{% if section.settings.newsletter_enable %}
    {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
            <div class="alert alert-danger">
                {{ 'general.password_page.signup_form_success' | t }}
            </div>
        {% else %}
            <p class="passwordFormHeading">
                {{ section.settings.newsletter_form_heading }}
            </p>
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <label for="email" class="hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
            <div class="form-group passwordInputGroup">
                <input type="email" name="contact[email]" id="Email" class="form-control" placeholder="{{ section.settings.newsletter_placeholder }}">
                <button type="submit" name="commit" class="btn">
                  	<span>{{ section.settings.newsletter_button_text }}</span>
              	</button>
            </div>
        {% endif %}
    {% endform %}
{% endif %}
{% if section.settings.show_share_buttons %}
    <div class="password-social-sharing">
        <p class="passwordFormHeading">{{ section.settings.social_message }}</p>
        <div class="social-sharing">
            {% if section.settings.share_facebook %}
                <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class="btn share-facebook" title="{{ 'general.social.alt_text.share_on_facebook' | t }}">
                    <i class="fa fa-facebook"></i>
                    <span class="share-title">{{ section.settings.share_facebook_text }}</span>
                </a>
            {% endif %}
            {% if section.settings.share_twitter %}
                <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class="btn btn--small btn--secondary btn--share share-twitter" title="{{ 'general.social.alt_text.share_on_twitter' | t }}">
                    <i class="fa fa-twitter"></i>
                    <span class="share-title">{{ section.settings.share_twitter_text }}</span>
                </a>
            {% endif %}
            {% if section.settings.share_pinterest %}
                <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class="btn btn--small btn--secondary btn--share share-pinterest" title="{{ 'general.social.alt_text.share_on_pinterest' | t }}">
                    <i class="fa fa-pinterest"></i>
                    <span class="share-title">{{ section.settings.share_pinterest_text }}</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
<div class="password-powered-by">{{ section.settings.password_coppyright }}</div>
{% schema %}
  	{
    	"name": "Vela Password Page",
    	"settings": [
			{
                "type": "header",
                "content": "Header"
            },
			{
                "type": "image_picker",
                "id": "logo",
                "label": "Logo image"
            },
			{
                "type": "text",
                "id": "logo_image_size",
                "label": "Image Size",
				"info": "Image Size is required."
            },
            {
                "type": "text",
                "id": "header",
                "label": "Heading",
                "default": "Coming Soon"
            },
			{
                "type": "header",
                "content": "Content"
            },
			{
                "type": "checkbox",
                "id": "newsletter_enable",
                "label": "Show newsletter signup",
                "default": true
            },
            {
                "type": "text",
                "id": "newsletter_form_heading",
                "label": "Newsletter form heading",
                "default": "Be the first to know when we launch.",
                "info": "[Tell your visitors about a launch day discount](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
            },
            {
                "type": "text",
                "id": "newsletter_placeholder",
                "label": "Newsletter label text",
                "default": "Email address"
            },
            {
                "type": "text",
                "id": "newsletter_button_text",
                "label": "Newsletter button text",
                "default": "Notify me"
            },
			{
                "type": "header",
                "content": "Footer"
            },
			{
                "type": "checkbox",
                "id": "show_share_buttons",
                "label": "Show social sharing buttons",
                "default": true
            },
            {
                "type": "text",
                "id": "social_message",
                "label": "Social sharing buttons heading",
                "default": "Spread the word"
            },
			{
                "type": "checkbox",
                "id": "share_facebook",
                "label": "Share on Facebook",
                "default": true
            },
			{
                "type": "text",
                "id": "share_facebook_text",
                "label": "Facebook Title",
                "default": "Share"
            },
            {
                "type": "checkbox",
                "id": "share_twitter",
                "label": "Tweet on Twitter",
                "default": true
            },
			{
                "type": "text",
                "id": "share_twitter_text",
                "label": "Twitter Title",
                "default": "Tweet"
            },
            {
                "type": "checkbox",
                "id": "share_pinterest",
                "label": "Pin on Pinterest",
                "default": true
            },
			{
                "type": "text",
                "id": "share_pinterest_text",
                "label": "Pinterest Title",
                "default": "Pin it"
            },
			{
                "type": "header",
                "content": "Footer Coppyright"
            },
			{
                "type": "text",
                "id": "password_coppyright",
                "label": "Coppyright",
                "default": "This shop will be powered by <a class=\"classic-link shopify-link\" href=\"//www.shopify.com\" target=\"_blank\" title=\"Create your own online store with Shopify\">Shopify</a>"
            }
		]
  	}
{% endschema %}
